<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th> Querido usuario, el proyecto: </th>
                    <th>
                        <p th:text="${nombreProyecto}"></p>
                    </th>
                    <th> ha finalizado. </th>
                </tr>
            </thead>
        </table>
    </body>
</html>